# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# PyInstaller
build/
dist/
*.spec.bak

# Python packaging
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Local / built executables
*.exe